html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  font-family: "Space Mono", monospace;
  background-color: #bff2ec;
}
@media only screen and (min-width: 1000px) {
  body {
    height: 100vh;
    display: grid;
    place-items: end;
    place-items: center;
  }
}

main {
  position: relative;
  width: 100%;
  padding-bottom: 65px;
}
main h1 {
  margin-top: 3rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2.5rem;
  color: #006166;
}
main h1 > p {
  font-size: 1.5rem;
}
main section {
  padding: 1.5rem;
  border-radius: 30px 30px 0 0;
  background-color: hsl(0deg, 0%, 100%);
  width: 90%;
  max-width: 420px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
main section .calc p {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
  color: hsl(186deg, 14%, 43%);
}
main section .calc .input-bill {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
}
main section .calc .input-bill::after {
  position: absolute;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: hsl(184deg, 14%, 56%);
  content: "$";
}
main section .calc .input-bill input {
  font-family: "Space Mono", monospace;
  text-align: right;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  width: 100%;
  background-color: #e5ebeb;
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 1rem;
}
main section .calc .input-num-people {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
main section .calc .input-num-people .fa-user {
  position: absolute;
  left: 1rem;
  color: hsl(184deg, 14%, 56%);
  top: 50%;
  transform: translateY(-50%);
}
main section .calc .input-num-people input {
  font-family: "Space Mono", monospace;
  text-align: right;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  width: 100%;
  background-color: #e5ebeb;
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 1rem;
}
main section .calc .input-number-style {
  font-family: "Space Mono", monospace;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
}
main section .calc .grid-tip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
  margin-bottom: 2.1rem;
}
main section .calc .grid-tip button {
  font-size: 1.3rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  padding: 0.6rem;
  background-color: hsl(183deg, 100%, 15%);
  color: #fff;
  cursor: pointer;
}
main section .calc .grid-tip .btn-active-perc {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}
main section .calc .grid-tip #custom {
  height: 49.6px;
  font-size: 1.3rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;
  background-color: #e5ebeb;
  border: none;
  border-radius: 6px;
}
main section .calc .input-txt {
  display: flex;
  justify-content: space-between;
}
main section .calc .input-txt p:first-child {
  width: 100%;
}
main section .calc .input-txt .error-p {
  color: rgb(211, 85, 85);
  opacity: 0;
  transition: opacity 0.13s ease-in;
}
main section .calc .input-txt .show-error-msg {
  transition: opacity 0.13s ease-in;
  opacity: 1;
}
main section .display {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 15px;
  padding: 2rem 1.3rem 1.3rem 1.3rem;
  font-weight: 700;
}
main section .display .result-amount,
main section .display .result-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
main section .display .result-amount p:first-child,
main section .display .result-total p:first-child {
  color: #fff;
  line-height: 1.5;
}
main section .display .result-amount p:last-child,
main section .display .result-total p:last-child {
  color: hsl(184deg, 14%, 56%);
}
main section .display .result-amount .amount-display,
main section .display .result-amount .total-display,
main section .display .result-total .amount-display,
main section .display .result-total .total-display {
  font-size: 2rem;
  color: hsl(172deg, 67%, 45%);
}
main section .display button {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  padding: 0.6rem;
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}
main .attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 1000px) {
  main {
    padding-bottom: 30px;
  }
  main h1 {
    margin-top: unset;
  }
  main section {
    padding: 2.5rem;
    gap: 2rem;
    width: 100%;
    max-width: 1050px;
    border-radius: 30px;
  }
  main section .display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
  }
  main section .display .result-amount .amount-display {
    font-size: 2.8rem;
  }
  main section .display .result-total {
    margin-top: 2rem;
  }
  main section .display .result-total .total-display {
    font-size: 2.8rem;
  }
  main section .display button {
    padding: 1rem;
  }
  main .attribution {
    bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */